## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />


<%block name="content">


<h1> Commissions for ${ monthYear} </h1>

<div class="row">
  <div class="col-md-12">
		<table class="table table-striped">
		  <thead>
				<tr>
				 <th>Employee ID</th>
				 <th>Employee Username</th>	
				 <th>Customer ID</th>
				 <th>Customer Username</th>
				 <th>Transaction Amount</th>
				 <th>Comission Amount</th>
				 <th>Date</th>
			 </tr>
			</thead>
			<tbody>
			%for t in transactions:
				<tr>
					<td>${ t.employee.id}</td>
					<td>${ t.employee.username}</td>	
					<td>${ t.id}</td>
					<td>${ t.user.username}</td>
					<td>$${ t.amount}</td>
					<td>$${ t.comission_amount}
					<td>${ t.date}</td>
				</tr>
			%endfor	
			</tbody>
		</table>
  </div>
</div>
	  

</%block>  
